<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/main.css">

        <!-- angular script file -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

        <!--add the lodash library to our page-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>

        <!-- our script file -->
        <script src="js/app.js"></script>

        <title>Sign up</title>
    </head>

    <body class="container" ng-app="Signup" ng-controller="SignupController">
        <h1>Sign Up</h1>
        <h2>Our service is fun and awesome, but you must be 13 years old to join.</h2>

        <form name="signupForm" novalidate>
            <div class="form-group">
                <label for="emailInp">Email</label>
                <input type="email" class="form-control" id="emailInp"
                       name="emailInp" ng-model="userInfo.email" required/>

                <p class="validation-error email-required-error"
                   ng-if="signupForm.emailInp.$dirty && signupForm.emailInp.$error.required">
                    Email is required
                </p>

                <p class="validation-error email-invalid-error"
                   ng-if="signupForm.emailInp.$error.email">Not a valid email</p>
            </div>

            <div class="form-group">
                <label for="firstNameInp">First Name</label>
                <input type="text" class="form-control" id="firstNameInp"
                       name="firstNameInp" ng-model="userInfo.firstName" />
            </div>

            <div class="form-group">
                <label for="lastNameInp">Last Name</label>
                <input type="text" class="form-control" id="lastNameInp"
                       name="lastNameInp" ng-model="userInfo.lastName" required/>
                <p class="validation-error"
                   ng-if="signupForm.lastNameInp.$dirty && signupForm.lastNameInp.$error.required">
                    Last name is required
                </p>
            </div>

            <div class="form-group">
                <label for="birthdateInp">Birthdate</label>
                <input type="text" class="form-control" id="birthdateInp"
                       name="birthdateInp" ng-model="userInfo.birthdate" in-the-past required is-date/>

                <p class="validation-error birthdate-required-error"
                   ng-if="signupForm.birthdateInp.$dirty && signupForm.birthdateInp.$error.required">
                    Birthdate is required
                </p>

                <p class="validation-error valid-date-error"
                   ng-if="signupForm.birthdateInp.$error.isDate">
                    Must be a valid date
                </p>

                <p class="validation-error in-the-past-error"
                   ng-if="signupForm.birthdateInp.$error.inThePast">
                    Sorry, you must be at least 13 years old to sign up
                </p>

            </div>

            <div class="form-group">
                <label for="passwordInp">Password</label>
                <input type="password" class="form-control" id="passwordInp"
                       name="passwordInp" ng-model="userInfo.password" required/>
                <p class="validation-error"
                   ng-if="signupForm.passwordInp.$dirty && signupForm.passwordInp.$error.required">
                    Password is required
                </p>
            </div>

            <div class="form-group">
                <label for="passwordConfirmInp">Confirm Password</label>
                <input type="password" class="form-control" id="passwordConfirmInp"
                       name="passwordConfirmInp" ng-model="userInfo.passwordConfirm" required/>
                <p class="validation-error"
                   ng-if="signupForm.passwordConfirmInp.$dirty && signupForm.passwordConfirmInp.$error.required">
                    You must confirm your password
                </p>
            </div>

            <a class="btn btn-primary" id="reset-button">Reset</a>
            <a class="btn btn-primary" id="submit-button" ng-disabled="signupForm.$invalid">Sign Me Up!</a>

        </form>
    </body>
</html>